<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col sizeLg="8" sizeSm="3" sizeMd="6">
      <div class="spinner" [ngClass]="{'spinner--active': weather.length === 0}">
        <ion-spinner name="crescent"></ion-spinner>
      </div>
      <div class="table" [ngClass]="{'table--loading': weather.length === 0}">
        <table>
          <thead>
            <tr>
              <th *ngFor="let column of columnsToDisplay">
                {{ column }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let w of weather">
              <td>
                {{ w.name }}
              </td>
              <td>
                {{ (w.main.temp - 273.15).toFixed(2) }}
              </td>
              <td>
                {{ w.main.humidity }} %
              </td>
              <td>
                {{ (w.main.feels_like - 273.15).toFixed(2) }}
              </td>
              <td>
                {{ w.visibility / 1000 }}
              </td>
              <td>
                <ion-button color="tertiary" *ngIf="!w.isFavorite; else unFavorite" (click)="addFavorite(w)">
                  <ion-icon name="star"></ion-icon>
                </ion-button>
                <ng-template #unFavorite>
                  <ion-button color="danger" (click)="removeFavorite(w)">
                    <ion-icon name="star"></ion-icon>
                  </ion-button>
                </ng-template>
                <ion-button color="primary" (click)="initModal(w)">
                  <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
                </ion-button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
